body, html{
    background-color: #f1f1f1;
}
.topSection{
    height: 140px;
    background-color: black;
}
.contentArea{
    background-color: #ffffff;
    width: 85%;;
    height: 150vh;
    position: relative;
    top: 25px;
}
.contentWrapper{
    width: 96%;
    background-color: #f1f1f1;  
    position: relative;
    top: -25px;
}
.nameBox{
    background-color: #009d81;
    display: inline-block;
    margin-top: -42px;
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.nameBox h5{
    color: #ffffff;
    /* font-family: 'Merriweather', serif; */
    font-family: 'Nunito Sans', sans-serif;
    /* font-family: 'Playfair Display', serif; */
    padding: 5px;
}
.sectionRow{
    margin-top: -25px;
    background-color: #ffffff;
    height: auto;

}
.leftSection{
    background-color: #ffffff;
    
}
.rightSection{
    background-color: #ffffff;
    
}
.rightSection > p{
    line-height: 20px;
    font-size: 14px;
}
.elseWhere > h6{
    border-bottom: dotted 1px grey;
}